:root {
    --azul: #13547a;
    --verde: #4c9755;
    --agua: #73a5b0;
    --fonte-principal: 'Montserrat', sans-serif;
    --branco: #ffffff;
    --hover: #00796b;
}

body {
    margin: 0;
    font-family: var(--fonte-principal);
    background: linear-gradient(15deg, #13547a 100%, #80d0c7 0%);
    color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center; /* Alinha a logo ao centro */
    margin-bottom: 20px;
}

.cabecalho-logo {
    max-width: 150px; /* Ajuste conforme necessário */
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.form-container h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--fonte-principal); /* Fonte Montserrat */
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 15px;
}

form button {
    width: 50%;
    padding: 10px;
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 0; /* Centraliza o botão */
    display: block;
}

form button:hover {
    background-color: var(--hover);
    transition: 0.5s;
}

.table-container {
    width: 700px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--branco);
}

.styled-table th {
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.styled-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--verde);
    font-size: 16px;
}

.styled-table tr:nth-child(even) {
    background-color: white;
}

.styled-table tr {
    color: var(--azul)
}



@media(max-width: 560px) {
    .form-container {
        width: 90%;
    }

    .table-container {
        width: 90%;
    }

    form button {
        font-size: 15px;
    }
}

.voltarPagina {
    text-decoration: none;
    color: var(--agua);
    font-style: italic;
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.voltarPagina:hover {
    text-decoration: underline;
    color: white;
    transition: 0.2s;
}

.voltarPaginaLogin {
    text-decoration: none;
    color: var(--agua);
    font-style: italic;
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin-top: 3px;
}

.voltarPaginaLogin:hover {
    text-decoration: underline;
    color: var(--verde);
    transition: 0.2s;
}

.uc2{
    text-align: center;
    color: white;
    margin-top: 100px;
}

.btn-edit {
    text-decoration: none;
    color: black
}

.btn-delete {
    text-decoration: none;
    color: red;
}

.h3teste {
    text-align: center;
    font-weight: bold;
    color: white;
}

.cadastc {
    color: var(--verde);
    font-weight: bold;
    font-size: 30px;
}

label {
    display: block; /* Garante que o label fique acima do select */
    font-family: var(--fonte-principal); /* Fonte Montserrat */
    font-weight: bold;
    color: var(--verde); /* Cor verde do tema */
    margin-bottom: 10px; /* Espaço entre o label e o select */
    margin-top: 10px;
    font-size: 18px; /* Tamanho de fonte agradável */
    text-align: center;
    justify-content: center;
}

select {
    width: 100%; /* Ocupará 100% da largura do contêiner */
    padding: 7px; /* Espaçamento interno */
    border-radius: 15px; /* Bordas arredondadas */
    font-family: var(--fonte-principal); /* Fonte Montserrat */
    font-size: 16px; /* Tamanho do texto */
    color: gray; /* Cor do texto no select */
    background-color: var(--branco); /* Fundo branco */
}

select:hover {
    border-color: var(--hover); /* Cor da borda no hover */
}

select:focus {
    outline: none; /* Remove o destaque padrão */
    border-color: var(--hover); /* Destaque no foco */
    box-shadow: 0 0 5px var(--hover); /* Adiciona sombra ao redor */
}

option {
    font-family: var(--fonte-principal); /* Fonte Montserrat */
    color: var(--azul); /* Cor das opções */
}

.editcl {
    color: white;
    font-weight: bold;
    text-align: center;
}

.alinhar {
    color: white;
    text-align: center;
}

.no-consultations {
    font-weight: bold;
    font-size: 20px;
}

.logo17 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-finalizar {
    margin-top: 30PX;
}